

.newMember {
  margin: 12px;
}


.ng-valid[required], .ng-valid.required  {
  border: 5px solid #42A948;
}

.ng-touched:not(form)  {
  border: 5px solid #a94442;
}

.ng-dirty:not(form)  {
  border: 5px solid #a94442;
}
